/* Agrega aquí tus estilos*/

@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);
@import url('https://fonts.googleapis.com/css?family=Cinzel|Lobster|Open+Sans+Condensed:300');

/*base style, general style*/
html, body {
	padding: 0;
	margin: 0;
}
body {
	color: #325050;
	background: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	text-align: justify;
}
a{
	color: #0d8ba1;
	text-decoration: none;
}
abbr{ 
	border: none;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 0.02em;
}

/*HEADER*/
header {
	height: 250px;
	padding: 20px 0 70px 0;
	background: #2d6360 50% 0;
	text-align: center;
}
h1{
	font-family: 'Cinzel', sans-serif;
	font-size: 55px;
	font-weight: bold;
	color: white;
}
h2{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 35px;
	font-weight: bold;
	color: gray;
}

/*BASIC CONTENT*/
p{
  margin: 1em;
  width: 66.3%;
}
div.participation, div.benefits{
	background-color: rgba(138,188,159,0.5);
  background-size: cover;
  padding: 1em 0;
  border: 1em;
}

h3{
	font-family: 'Lobster', sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	margin: 1em;
}

/*SIDEBAR STYLE*/
  .design-selection{
  	background: #edf4f0;
  	width: 30%;
  	float: right;
    position: absolute;
    top: 340px;
    right: 0;
    margin: 0;
    overflow: visible;
  }
  .sidebar li {
      float: none;
      width: auto;
      padding-left: 0;
      padding-right: 0;
      margin: 0 29% 0 14%;
  }
  .sidebar h3 {
    display: none;
  }
  .sidebar a {
    color: #607476;
    text-decoration: none;
  }
  #design-selection ul, #zen-resources ul{
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
  }
  #design-selection li, #zen-resources li{
    float: left;
    width: 50%;
    padding: 1.45em 10%;
    border-top: solid 1px #d9e3dc;
    color: #c0cac3;
    font-style: italic;
  }
  
  .design-selection, .design-name, .zen-resources a, li.viewall a{
    display: block;
    margin-bottom: 0.25em;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 0.8em;
    font-style: normal;
    text-transform: uppercase;
  }
  /*
  #design-archives{
    position: absolute;
    top: 360px;
    float: right;
    right: 0;
    width: 30%;
    padding: 1350px 20px;
    margin: 0;
    overflow: visible;
  }*/

  #zen-resources{
    position: absolute;
    top: 360px;
    float: right;
    right: 0;
    width: 30%;
    padding: 750px 20px;
    margin: 0;
    overflow: visible;
  }

/*FOOTER*/
footer{
  clear: both;
  padding: 2em 10%;
  color: #fff;
  background: #134347;
  text-align: center;
}

#zen-requirements p:last-child {
  color: rgba(255, 255, 255, 0.7);
  background: #134347;
  font-style: normal;
  padding: 1em 17%;
  margin: 0 0 0 0;
}
